<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application>
        <activity
            android:name=".LogsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <uses-native-library
            android:name="libcdsprpc.so"
            android:required="false" />

        <uses-native-library
            android:name="libapuwareutils_v2.mtk.so"
            android:required="false" />

        <uses-native-library
            android:name="libapuwareapusys_v2.mtk.so"
            android:required="false" />

        <uses-native-library
            android:name="libnir_neon_driver_ndk.mtk.so"
            android:required="false" />

        <uses-native-library
            android:name="libnir_neon_driver_ndk.mtk.vndk.so"
            android:required="false" />

        <uses-native-library
            android:name="libcmdl_ndk.mtk.vndk.so"
            android:required="false" />

        <uses-native-library
            android:name="libcmdl_ndk.mtk.so"
            android:required="false" />

        
    </application>

</manifest>
